.DS_Store
Coliver/Coliver/Coliver.xcodeproj/xcuserdata/nikita.xcuserdatad/xcschemes
Coliver/Coliver/Coliver.xcodeproj/xcuserdata/nikita.xcuserdatad/xcdebugger
*.xcuserstate
*.db
coRentalServer/uploads
coRentalServer/.idea/vcs.xml
coliverServer/uploads
